target/
dist/
build/
*.jar
!gerador_executavel/aplicacao_pronta/SistemaLoja.jar
!gerador_executavel/aplicacao_pronta/SystemPro.jar
*.db
*.exe
!gerador_executavel/aplicacao_pronta/SistemaLoja.exe
!gerador_executavel/aplicacao_pronta/SystemPro.exe
node_modules/
sources.txt
gerador_executavel/aplicacao_pronta/jre/
gerador_executavel/instalador/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS / Windows ###
.DS_Store
Thumbs.db